* text=auto
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.config text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
*.img binary
*.zip binary
*.ko binary
